@{
    ViewData["Title"] = "Manager";
}

@section scripts {
  <script src="~/bundle/manager.js" asp-append-version="true"></script>
}

<h1>Manage accounts</h1>

<table class="table table-striped table-condensed table-bordered">
  <thead>
  <tr>
    <th>User name</th>
    <th></th>
  </tr>
  </thead>
  <tbody id="usersTable">
  
  </tbody>
</table>